<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>

</head>
<body th:class="${application.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"  style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-10">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">添加文件监控（每30分钟扫描一次，若文件被篡改或删除，会告警通知）</h3>
          <div class=" float-sm-right">
              <a href="javascript:history.back()">返回</a>
          </div>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
        <form role="form" id="form1" th:action="@{'/fileSafe/save'}">
            <input type="hidden" name="id" th:value="${fileSafe.id}"/>
            <div class="card-body">
                <div class="form-group">
                    <label><font color="red">*</font>监控主机</label>
                    <select  name="hostname" id="hostname"  class="validate[required] form-control select2" style="width: 100%;">
                        <option value="">请选择</option>
                        <th:block th:each="item,iterStat : ${systemInfoList}">
                            <th:block th:if="${item.remark} == null or ${item.remark} == ''">
                                <option  data-select2-id="" th:value="${item.hostname}" th:attr="data-select2-id=${item.hostname}" th:text="${item.hostname}">Alabama</option>
                            </th:block>
                            <th:block th:if="${item.remark} != null and ${item.remark} != ''">
                                <option  data-select2-id="" th:value="${item.hostname}" th:attr="data-select2-id=${item.hostname}" th:text="${item.hostname}+'('+${item.remark}+')'">Alabama</option>
                            </th:block>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>文件名称 </label>
                    <input type="text" autocomplete="off"  th:value="${fileSafe.fileName}" class="validate[required,maxSize[50]] form-control" name="fileName" id="fileName" placeholder="请输入文件名称，如数据清洗程序包">
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>文件完整路径</label>
                    <input type="text" autocomplete="off"  th:value="${fileSafe.filePath}" class="validate[required,maxSize[200]] form-control" name="filePath" id="filePath" placeholder="如/usr/local/erp/erp-1.0.jar">
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>文件的MD5字符串<span class="text-muted">（大小写均可,Linux可以用命令[md5sum 文件名称]获取）</span></label>
                    <input type="text" autocomplete="off"  th:value="${fileSafe.fileSign}" class="validate[required,maxSize[50]] form-control" name="fileSign" id="fileSign" placeholder="如DF93E4175D4FE7198D957C21D9AC760A，大小写都可以">
                </div>
                <div id="dataFormList" class="form-group clearfix"></div>
                <th:block th:if="${#strings.isEmpty(fileSafe.id)}" >
                    <div class="form-group row">
                        <div class="col-12"><button  type="button" onclick="addDataForm()" class="btn btn-primary btn-sm float-right"><i class="fa fa-plus-circle"></i> 添加一行</button>&nbsp;</div>
                    </div>
                    <input type="hidden" name="dataFromIndex"  id="dataFromIndex"/>
                </th:block>
                <div class="form-group clearfix">
                    <label><font color="red">*</font>监控状态</label></br>
                    <th:block th:if="${#strings.isEmpty(fileSafe.active)}" >
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="radioPrimary1" name="active" value="1" checked>
                            <label for="radioPrimary1"> 启用监控 </label>
                        </div>
                        <div class="icheck-danger d-inline">
                            <input type="radio" id="radioPrimary3" value="2" name="active" >
                            <label for="radioPrimary3">停止监控</label>
                        </div>
                    </th:block>
                    <th:block th:if="${fileSafe.active  == '1'}">
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="radioPrimary1" name="active" value="1" checked>
                            <label for="radioPrimary1"> 启用监控 </label>
                        </div>
                        <div class="icheck-danger d-inline">
                            <input type="radio" id="radioPrimary3" value="2" name="active" >
                            <label for="radioPrimary3">停止监控</label>
                        </div>
                    </th:block>
                    <th:block th:if="${fileSafe.active  == '2'}">
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="radioPrimary1" value="1"  name="active" >
                            <label for="radioPrimary1"> 启用监控 </label>
                        </div>
                        <div class="icheck-danger d-inline">
                            <input type="radio" id="radioPrimary3" value="2"  name="active" checked>
                            <label for="radioPrimary3">停止监控</label>
                        </div>
                    </th:block>
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm" style="margin-right:10px;">保 存</button>
                <button type="button"  th:onclick="goback()"  class="btn bg-gradient-danger btn-sm">返 回</button>
            </div>

        </form>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->


  </div><!-- /.col-md-10 -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->

<!-- 动态添加一行数据 -->
<div  id="dataHideContent" style="display: none">
    <div id="dataFrom_{num}" class="card card-primary card-outline">
        <div class="card-body">
            <div class="form-group">
                <label><font color="red">*</font>文件名称 </label>
                <input type="text" autocomplete="off"   class="validate[required,maxSize[50]] form-control" name="fileName_{num}" id="fileName_{num}" placeholder="请输入文件名称，如数据清洗程序包">
            </div>
            <div class="form-group">
                <label><font color="red">*</font>文件完整路径</label>
                <input type="text" autocomplete="off"   class="validate[required,maxSize[200]] form-control" name="filePath_{num}" id="filePath_{num}" placeholder="如/usr/local/erp/erp-1.0.jar">
            </div>
            <div class="form-group">
                <label><font color="red">*</font>文件的MD5字符串<span class="text-muted">（大小写均可,Linux可以用命令"md5sum 文件名称"获取）</span></label>
                <input type="text" autocomplete="off"  class="validate[required,maxSize[50]] form-control" name="fileSign_{num}" id="fileSign_{num}" placeholder="如DF93E4175D4FE7198D957C21D9AC760A，大小写都可以">
            </div>
            <div class="form-group">
                <div class="col-12"><button type="button" onclick="removeDiv('dataFrom_{num}')" class="btn bg-gradient-danger btn-sm float-right"><i class="far fa-trash-alt"></i> 删除</button></div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{'/static/js/fileSafe.js?v=3.4.4'}"></script>
<script th:inline="javascript">
    $(document).ready(function(){
        $("#form1").validationEngine();
        //Initialize Select2 Elements
        $('.select2').select2()
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })

        $("#hostname").val([[${fileSafe.hostname}]]).select2();
    });

</script>
</body>
</html>
