<!DOCTYPE html>
<html>
<head>
  <title th:text="${application.wgName}">WGClOUD监控系统</title>
  <div  th:replace="common/header.html"></div>

</head>
<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="margin-left: 10px;font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <a href="javascript:location.reload();">
              <img th:src="${application.logoUrl}"style="height:25px;width:25px;opacity: .8" class="brand-image img-circle elevation-3">&nbsp;<span style="vertical-align:bottom;" th:text="${application.wgName}">WGCLOUD</span>
            </a>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item ">
                <th:block  th:if="${session.timerWarnSound ne '1' }">
                  <span style="cursor:pointer;margin-right: 10px" id="timerWarnSoundDiv" title="当前已关闭页面告警声音提示，点击可开启" value="2" data-toggle="dropdown" onclick="javascript:playSound();">
                    <i class="far fa-bell-slash"></i>
                  </span>
                </th:block>
                <th:block  th:if="${session.timerWarnSound eq '1' }">
                  <span style="cursor:pointer;margin-right: 10px" id="timerWarnSoundDiv" title="当前已开启页面告警声音提示，点击可关闭" value="1" data-toggle="dropdown" onclick="javascript:playSound();">
                    <i style="margin-right:3px" class="far fa-bell"></i>
                  </span>
                </th:block>
              </li>
              <li class="breadcrumb-item active">监控概要</li>
              <li class="breadcrumb-item "><a href="/wgcloud/systemInfo/systemInfoList?dashView=1">主机列表</a></li>
              <!--<li class="breadcrumb-item active"><a  target="_blank" href="https://www.wgstart.com/elasticsearch-head/index.html">ES监控工具</a></li>-->
            </ol>
          </div><!-- /.col -->
         <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div>--><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

      <div th:replace="common/indexTop.html"></div>

      <div th:replace="common/indexCommon.html"></div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <div th:replace="common/chart.html"></div>
  <div th:replace="common/footerDashView.html"></div>

</div>
<!-- ./wrapper -->


<script th:inline="javascript">
  const data1 = [[${chartInfoList1}]];
  const data2 = [[${chartInfoList2}]];


  const chart1 = new G2.Chart({
    container: 'chartInfoList1',
    forceFit: true,
    height: 400
  });
  chart1.source(data1, {
    percent: {
      formatter: val => {
      val = (val * 100) + '%';
  if(val.length > 10 ){
    val = val.substr(0,5)+'%';
  }
  return val;
  }
  }
  });
  chart1.tooltip({
    showTitle: false,
    itemTpl: '<li><span style="background-color:{color};" class="g2-tooltip-marker"></span>{name}的主机数量: {value}</li>'
  });
  chart1.coord('theta', {
    startAngle: Math.PI, // 起始角度
    endAngle: Math.PI * (3 / 2) // 结束角度
  });
  chart1.intervalStack()
          .position('percent')
          .color('item',['#FF5371','#FFD22F','#26A3FF','#26CD7B']);
  chart1.render();

  const chart3 = new G2.Chart({
    container: 'chartInfoList2',
    forceFit: true,
    height: 400
  });
  chart3.source(data2, {
    percent: {
      formatter: val => {
      val = (val * 100) + '%';
  if(val.length > 10 ){
    val = val.substr(0,5)+'%';
  }
  return val;
  }
  }
  });
  chart3.coord('theta');
  chart3.tooltip({
    showTitle: false,
  });
  chart3.intervalStack()
          .position('percent')
          .color('item',['#FF5371','#FFD22F','#26A3FF','#26CD7B'])
          .tooltip('item*percent', (item, percent) => {
    percent = (percent * 100) + '%';
  if(percent.length > 10 ){
    percent = percent.substr(0,5)+'%';
  }
  return {
    name: item+"的主机数量",
    value: percent
  };
  })
  .style({
    lineWidth: 1,
    stroke: '#fff'
  });
  chart3.render();


  const dataTable = [[${dbTableList}]];
  if(dataTable.length>0) {
    const chart2 = new G2.Chart({
      container: 'dbTableList',
      forceFit: true,
      height: 400
    });
    chart2.source(dataTable);
    chart2.scale('value', {
      tickInterval: 20
    });
    chart2.axis('remark', {
      label: {
        textStyle: {
          fill: '#aaaaaa'
        }
      }
    });
    chart2.source(dataTable, {
      value: {
        min: 0,
        nice: false,
        alias: '数据监控'
      }
    });
    chart2.axis('value', {
      label: null,
      title: {
        offset: 30,
        textStyle: {
          fontSize: 12,
          fontWeight: 300
        }
      }
    });
    chart2.interval().position('remark*value').size(28);
    chart2.render();
  }

  const huantuChartInfos = [[${huantuChartInfos}]];
  const chart6 = new G2.Chart({
    container: 'chartInfoHuantu',
    forceFit: true,
    height: 400,
    animate: false
  });
  // chart6.legend(false);
  chart6.source(huantuChartInfos, {
    percent: {
      formatter: val => {
        val = (val * 100) + '%';
        return val;
      }
    }
  });
  chart6.coord('theta', {
    radius: 0.95,
    innerRadius: 0.6
  });
  chart6.tooltip({
    showTitle: false,
    itemTpl: '<li><span style="background-color:{color};" class="g2-tooltip-marker"></span>{name}: {value}</li>'
  });
  // 辅助文本
  chart6.guide().html({
    position: [ '50%', '50%' ],
    html: '<div style="color:#8c8c8c;font-size: 14px;text-align: center;width: 10em;">监控资源总数量<br><span style="color:#8c8c8c;font-size:20px">[[${huantuTotalSize}]]</span></div>',
    alignX: 'middle',
    alignY: 'middle'
  });
  const interval6 = chart6.intervalStack()
          .position('percent')
          .color('item')
          .tooltip('item*percent', (item, percent) => {
            percent = percent * 100 + '%';
            return {
              name: item,
              value: percent
            };
          })
          .style({
            lineWidth: 1,
            stroke: '#fff'
          });
  chart6.render();
  interval6.setSelected(huantuChartInfos[0]);

  function reload() {
    window.location.reload();
  }
  const dashViewAutoData = [[${dashViewAutoData}]];
  if('true'==dashViewAutoData){
    toastr.success("页面将在10分钟后自动刷新");
    setTimeout(reload,600000);
  }
</script>
</body>
</html>
