<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>


</head>
<body th:class="${application.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper"  >

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
      <section class="content-header" style="height:38px">
          <div class="container-fluid">
              <div class="row mb-2" style="margin-top: -7px;">
                  <div class="col-sm-6"></div>
                  <div class="col-sm-6">
                      <ol class="breadcrumb float-sm-right">
                          <li class="breadcrumb-item"><a href="javascript:history.back()">返回上级</a></li>
                      </ol>
                  </div>
              </div>
          </div><!-- /.container-fluid -->
      </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-10">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title"><i class="nav-icon far fa-envelope"></i>&nbsp;告警邮件</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
        <form role="form" id="form1" method="post" th:action="@{'/mailset/save'}">
            <input type="hidden" name="id" th:value="${mailSet.id}"/>
            <div class="card-body">
                <!--<div class="form-group">
                    <label for="exampleInputEmail1"><font color="red">*</font>是否启用告警邮件</label>
                    <select class="form-control"   name="sendMail" id="sendMail">
                        <option value="0">停用</option>
                        <option value="1">启用</option>
                    </select>
                </div>-->
                <div class="form-group">
                    <label for="fromMailName"><font color="red">*</font>发送邮箱帐号</label>
                    <input type="text"  th:value="${mailSet.fromMailName}" autocomplete="off" class="validate[required,maxSize[40],custom[email]] form-control" name="fromMailName" id="fromMailName" placeholder="123456@qq.com">
                </div>
                <div class="form-group">
                    <label for="fromPwd"><font color="red">*</font>发送邮箱密码 <span  data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="显示密码" onclick="javascript:showPasswd();" style="cursor:pointer;margin-left: 5px"><i id="eyeSwitch" class="fa fa-eye"></i></span></label>
                    <input type="password"  th:value="${mailSet.fromPwd}"  class="validate[required,maxSize[20]] form-control" name="fromPwd" id="fromPwd" placeholder="">
                </div>
                <div class="form-group">
                    <label for="fromMailName"><font color="red">*</font>发送邮箱SMTP服务器</label>
                    <input type="text" th:value="${mailSet.smtpHost}" autocomplete="off" class="validate[required,maxSize[100]] form-control" name="smtpHost" id="smtpHost" placeholder="如smtp.qq.com">
                </div>
                <div class="form-group clearfix">
                    <label><font color="red">*</font>是否启用安全链接(SSL)</label></br>
                    <th:block th:if="${#strings.isEmpty(mailSet.smtpSSL)}" >
                        <div class="icheck-turquoise d-inline">
                            <input type="radio" onclick="setSmtpPortSSL()" id="radioPrimary2" name="smtpSSL" value="1" checked>
                            <label for="radioPrimary2"> 启用 </label>
                        </div>
                        <div class="icheck-wisteria d-inline" style="margin-left:10px;">
                            <input type="radio" onclick="setSmtpPort()" id="radioPrimary4"  name="smtpSSL" value="0">
                            <label for="radioPrimary4">不启用</label>
                        </div>
                    </th:block>
                    <th:block th:if="${mailSet.smtpSSL  == '0'}">
                        <div class="icheck-turquoise d-inline">
                            <input type="radio" onclick="setSmtpPortSSL()" id="radioPrimary2" name="smtpSSL" value="1">
                            <label for="radioPrimary2"> 启用 </label>
                        </div>
                        <div class="icheck-wisteria d-inline" style="margin-left:10px;">
                            <input type="radio" onclick="setSmtpPort()" id="radioPrimary4"  name="smtpSSL" value="0" checked>
                            <label for="radioPrimary4">不启用</label>
                        </div>
                    </th:block>
                    <th:block th:if="${mailSet.smtpSSL  == '1'}">
                        <div class="icheck-turquoise d-inline">
                            <input type="radio" onclick="setSmtpPortSSL()" id="radioPrimary2" name="smtpSSL" value="1" checked>
                            <label for="radioPrimary2"> 启用 </label>
                        </div>
                        <div class="icheck-wisteria d-inline" style="margin-left:10px;">
                            <input type="radio" onclick="setSmtpPort()" id="radioPrimary4"  name="smtpSSL" value="0">
                            <label for="radioPrimary4">不启用</label>
                        </div>
                    </th:block>
                </div>
                <div class="form-group">
                    <label for="fromMailName"><font color="red">*</font>发送邮箱的SMTP端口，25或465<span class="text-muted">（一般启用安全链接SSL后的端口为465）</span></label>
                    <input type="text"  th:value="${mailSet.smtpPort}" autocomplete="off" class="validate[required,custom[number],maxSize[5]] form-control" name="smtpPort" id="smtpPort" placeholder="">
                </div>

                <div class="form-group">
                    <label for="fromMailName">接受邮件，多个邮件用;隔开</label>
                    <input type="text" th:value="${mailSet.toMail}"  autocomplete="off" class="validate[maxSize[300]] form-control" name="toMail" id="toMail" placeholder="123@qq.com;456@qq.com">
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <th:block th:if="${session.LOGIN_KEY.role != 'guest'}">
                    <button type="button" onclick="test()" class="btn btn-primary btn-sm" style="margin-right:10px;">测试发送</button>
                    <button type="submit" class="btn btn-primary btn-sm" style="margin-right:10px;">保 存</button>
                    <button type="button" style="margin-right:10px;" title="不需要邮件告警可删除，其他告警脚本依然生效"  th:onclick="del([[${mailSet.id}]])"  class="btn bg-gradient-danger btn-sm">删 除</button>
                    <button type="button"  th:onclick="goback()"  class="btn bg-gradient-danger btn-sm">返 回</button>
                </th:block>
            </div>

        </form>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->


  </div>

        </div>
      </div>
    </section>
  </div>


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->
<script th:inline="javascript">
    $(document).ready(function(){
        $("#form1").validationEngine();
        // $("#sendMail").val([[${mailSet.sendMail}]]);
        //$("#smtpSSL").val([[${mailSet.smtpSSL}]]);
    });

    function test() {
        $("#form1").attr("action","/wgcloud/mailset/test");
        $("#form1").submit();
    }

    function del(id) {
        if(confirm('你确定要删除吗？')){
            window.location.href = "/wgcloud/mailset/del?id="+id;
        }
    }

    function setSmtpPort(){
        $("#smtpPort").val('25')
    }

    function setSmtpPortSSL(){
        $("#smtpPort").val('465');
    }

    function showPasswd(){
        var type = $("#fromPwd").attr("type");
        if(type=='text'){
            $("#eyeSwitch").attr("class","fa fa-eye");
            $("#fromPwd").attr("type","password");
        }else{
            $("#eyeSwitch").attr("class","fa fa-eye-slash");
            $("#fromPwd").attr("type","text");
        }

    }

    var msg = [[${msg}]];
    if(msg!=''){
        if(msg.indexOf("测试发送失败")>-1){
            toastr.error(msg);
        }else{
            toastr.success(msg);
        }
    }
</script>
</body>
</html>
