<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>


</head>
<body th:class="${application.sidebarCollapse}">

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div><!-- /.col -->
         <!-- <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div>--><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

      <div th:replace="common/indexTop.html"></div>

      <div class="row  mb-2">
          <div class="col-sm-12" style="color: #495057;">
              最近1小时告警：<span style="margin-right:10px;font-weight:700;color:#4567ee!important;"><span  style="cursor:pointer;" onclick="hrefTopUrl('/wgcloud/log/list')" th:text="${warnCount}">18</span></span>
              主机平均监控时间(秒)：<span style="margin-right:10px;font-weight:700;color:#4567ee!important;"><i class="far fa-clock"></i><span style="margin-left:5px;" th:text="${avgSubmitSeconds}">18</span></span>
              历史数据保留时间(天)：<span style="margin-right:10px;font-weight:700;color:#4567ee!important;"><span th:text="${historyDataOut}">0</span></span>
              告警通知：<span style="margin-right:10px;font-weight:700;color:#4567ee!important;"><span th:text="${warnType}">17</span></span>
              公众看板：<span style="margin-right:10px;font-weight:700;color:#4567ee!important;"><span th:text="${dapingView}"></span></span>
              管理员密码：<span style="margin-right:10px;font-weight:700;color:#4567ee!important;"><span th:text="${adminPwd}"></span></span>
              只读账号密码：<span style="margin-right:10px;font-weight:700;color:#4567ee!important;"><span th:text="${guestAccountPwd}"></span></span>
              通信Token：<span style="margin-right:10px;font-weight:700;color:#4567ee!important;"><span th:text="${wgToken}"></span></span>
              web ssh：<span style="margin-right:10px;font-weight:700;color:#4567ee!important;"><span th:text="${webSSH}"></span></span></div>
      </div>

      <div th:replace="common/indexCommon.html"></div>

      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <div th:replace="common/chart.html"></div>
  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->


<script th:inline="javascript">

  const data1 = [[${chartInfoList1}]];
  const data2 = [[${chartInfoList2}]];

  const chart1 = new G2.Chart({
    container: 'chartInfoList1',
    forceFit: true,
    height: 400
  });
  chart1.source(data1, {
    percent: {
      formatter: val => {
      val = (val * 100) + '%';
  if(val.length > 10 ){
    val = val.substr(0,5)+'%';
  }
  return val;
  }
  }
  });
  chart1.tooltip({
    showTitle: false,
    itemTpl: '<li><span style="background-color:{color};" class="g2-tooltip-marker"></span>{name}的主机数量: {value}</li>'
  });
  chart1.coord('theta', {
    startAngle: Math.PI, // 起始角度
    endAngle: Math.PI * (3 / 2) // 结束角度
  });
  chart1.intervalStack()
          .position('percent')
          .color('item',['#FF5371','#FFD22F','#26A3FF','#26CD7B']);
  chart1.render();

  const chart3 = new G2.Chart({
      container: 'chartInfoList2',
      forceFit: true,
      height: 400
  });
  chart3.source(data2, {
      percent: {
          formatter: val => {
          val = (val * 100) + '%';
          if(val.length > 10 ){
              val = val.substr(0,5)+'%';
          }
          return val;
  }
  }
  });
  chart3.coord('theta');
  chart3.tooltip({
      showTitle: false,
  });
  chart3.intervalStack()
          .position('percent')
          .color('item',['#FF5371','#FFD22F','#26A3FF','#26CD7B'])
          .tooltip('item*percent', (item, percent) => {
            percent = (percent * 100) + '%';
            if(percent.length > 10 ){
              percent = percent.substr(0,5)+'%';
            }
          return {
            name: item+"的主机数量",
            value: percent
          };
          })
          .style({
            lineWidth: 1,
            stroke: '#fff'
          });
  chart3.render();


  const dataTable = [[${dbTableList}]];
  if(dataTable.length>0){
    const chart2 = new G2.Chart({
      container: 'dbTableList',
      forceFit: true,
      height: 400
    });
    chart2.source(dataTable);
    chart2.scale('value', {
      tickInterval: 20
    });
    chart2.axis('remark', {
      label: {
        textStyle: {
          fill: '#aaaaaa'
        }
      }
    });
    chart2.source(dataTable, {
      value: {
        min: 0,
        nice: false,
        alias: '数据监控'
      }
    });
    chart2.axis('value', {
      label: null,
      title: {
        offset: 30,
        textStyle: {
          fontSize: 12,
          fontWeight: 300
        }
      }
    });
    chart2.interval().position('remark*value').size(28);
    chart2.render();
  }

  const huantuChartInfos = [[${huantuChartInfos}]];
  const chart6 = new G2.Chart({
    container: 'chartInfoHuantu',
    forceFit: true,
    height: 400,
    animate: false
  });
  // chart6.legend(false);
  chart6.source(huantuChartInfos, {
    percent: {
      formatter: val => {
        val = (val * 100) + '%';
        return val;
      }
    }
  });
  chart6.coord('theta', {
    radius: 0.95,
    innerRadius: 0.6
  });
  chart6.tooltip({
    showTitle: false,
    itemTpl: '<li><span style="background-color:{color};" class="g2-tooltip-marker"></span>{name}: {value}</li>'
  });
  // 辅助文本
  chart6.guide().html({
    position: [ '50%', '50%' ],
    html: '<div style="color:#8c8c8c;font-size: 14px;text-align: center;width: 10em;">监控资源总数量<br><span style="color:#8c8c8c;font-size:20px">[[${huantuTotalSize}]]</span></div>',
    alignX: 'middle',
    alignY: 'middle'
  });
  const interval6 = chart6.intervalStack()
          .position('percent')
          .color('item')
          .tooltip('item*percent', (item, percent) => {
            percent = percent * 100 + '%';
            return {
              name: item,
              value: percent
            };
          })
          .style({
            lineWidth: 1,
            stroke: '#fff'
          });
  chart6.render();
  interval6.setSelected(huantuChartInfos[0]);

</script>
</body>
</html>
