<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>

</head>
<body th:class="${application.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"  style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1></h1>
          </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active"></li>
                </ol>
            </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-10">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">添加端口监控（Agent执行"Telnet 目标IP 端口"测试是否连通）</h3>
          <div class=" float-sm-right">
              <a href="javascript:history.back()">返回</a>
          </div>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
        <form role="form" id="form1" th:action="@{'/portInfo/saveBatch'}">
            <input type="hidden" name="id" th:value="${portInfo.id}"/>
            <div class="card-body">
                <div class="form-group">
                    <label><font color="red">*</font>监控主机</label>
                    <div th:replace="common/multiSelectHost.html"></div>
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>Telnet IP<span class="text-muted">（如：localhost，即agent本机）</span></label>
                    <input type="text" autocomplete="off"  th:value="${portInfo.telnetIp}" class="validate[required,maxSize[300]] form-control" name="telnetIp" id="telnetIp" placeholder="如localhost">
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>Telnet端口<span class="text-muted">（如：9999）</span></label>
                    <input type="text" autocomplete="off"  th:value="${portInfo.port}" class="validate[required,custom[number],maxSize[10]] form-control" name="port" id="port" placeholder="请输入端口号，如9999，telnet测试端口是否连通">
                </div>
                <div class="form-group">
                    <label><font color="red">*</font>名称</label>
                    <input type="text" autocomplete="off"  th:value="${portInfo.portName}" class="validate[required,maxSize[30]] form-control" name="portName" id="portName" placeholder="如ERP系统">
                </div>
                <div id="dataFormList" class="form-group clearfix"></div>
                <th:block th:if="${#strings.isEmpty(portInfo.id)}" >
                    <div class="form-group row">
                        <div class="col-12"><button  type="button" onclick="addDataForm()" class="btn btn-primary btn-sm float-right"><i class="fa fa-plus-circle"></i> 添加一行</button>&nbsp;</div>
                    </div>
                    <input type="hidden" name="dataFromIndex"  id="dataFromIndex"/>
                </th:block>
                <div class="form-group clearfix">
                    <label><font color="red">*</font>监控状态</label></br>
                    <th:block th:if="${#strings.isEmpty(portInfo.active)}" >
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="radioPrimary1" name="active" value="1" checked>
                            <label for="radioPrimary1"> 启用监控 </label>
                        </div>
                        <div class="icheck-danger d-inline">
                            <input type="radio" id="radioPrimary3" value="2" name="active" >
                            <label for="radioPrimary3">停止监控</label>
                        </div>
                    </th:block>
                    <th:block th:if="${portInfo.active  == '1'}">
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="radioPrimary1" name="active" value="1" checked>
                            <label for="radioPrimary1"> 启用监控 </label>
                        </div>
                        <div class="icheck-danger d-inline">
                            <input type="radio" id="radioPrimary3" value="2" name="active" >
                            <label for="radioPrimary3">停止监控</label>
                        </div>
                    </th:block>
                    <th:block th:if="${portInfo.active  == '2'}">
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="radioPrimary1" value="1"  name="active" >
                            <label for="radioPrimary1"> 启用监控 </label>
                        </div>
                        <div class="icheck-danger d-inline">
                            <input type="radio" id="radioPrimary3" value="2"  name="active" checked>
                            <label for="radioPrimary3">停止监控</label>
                        </div>
                    </th:block>
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm" style="margin-right:10px;">保 存</button>
                <button type="button"  th:onclick="goback()"  class="btn bg-gradient-danger btn-sm">返 回</button>
            </div>

        </form>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->


  </div><!-- /.col-md-10 -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->

<!-- 动态添加一行数据 -->
<div  id="dataHideContent" style="display: none">
    <div id="dataFrom_{num}" class="card card-primary card-outline">
        <div class="card-body">
            <div class="form-group">
                <label><font color="red">*</font>Telnet端口<span class="text-muted">（如：9999）</span></label>
                <input type="text" autocomplete="off" class="validate[required,custom[number],maxSize[10]] form-control" name="port_{num}" id="port_{num}" placeholder="请输入端口号，telnet测试端口是否连通">
            </div>
            <div class="form-group">
                <label><font color="red">*</font>名称</label>
                <input type="text" autocomplete="off"  class="validate[required,maxSize[30]] form-control" name="portName_{num}" id="portName_{num}" placeholder="如ERP系统">
            </div>
            <div class="form-group">
                <div class="col-12"><button type="button" onclick="removeDiv('dataFrom_{num}')" class="btn bg-gradient-danger btn-sm float-right"><i class="far fa-trash-alt"></i> 删除</button></div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{'/static/js/port.js?v=3.3.8'}"></script>
<script th:inline="javascript">
    $(document).ready(function(){
        $("#form1").validationEngine();
        $('.duallistbox').bootstrapDualListbox({
            nonSelectedListLabel: '未选监控主机',
            selectedListLabel: '已选监控主机',
            filterPlaceHolder: '过滤条件',
            moveAllLabel: '添加全部',
            removeAllLabel: '移除全部',
            infoText: '当前列表共 {0} 项',
            infoTextEmpty: '列表为空',
        });
        $("#hostname").val([[${portInfo.hostname}]]).select2();
    });

</script>
</body>
</html>
