<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>


</head>
<body th:class="${application.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"  style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header" style="height:38px">
      <div class="container-fluid">
        <div class="row mb-2" style="margin-top: -7px;">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="javascript:history.back()">返回上级</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="fa fa-users nav-icon"></i>&nbsp;成员账号列表</h3>
        <div class=" float-sm-right">
          <form class="form-inline ml-3" th:action="@{'/accountInfo/list'}">
          <!-- SEARCH FORM -->
          <th:block th:if="${session.LOGIN_KEY.role != 'guest'}">
            <button type="button" onclick="delChecks('/accountInfo/del')"  class="btn bg-danger btn-sm" style="margin-right:5px;">删除</button>
            <button type="button" onclick="add()" class="btn btn-primary btn-sm" style="margin-right:5px;">添加</button>
          </th:block>
          </form>

        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th style="width: 20px"> <input type="checkbox" value="" name="checkall" id="checkall"></th>
            <th style="width: 60px">序号</th>
            <th>登录账号</th>
            <th>用户邮箱</th>
            <th>用户标识</th>
            <th>备注</th>
            <th>主机数量</th>
            <th>创建时间</th>
              <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <th:block th:each="item,iterStat : ${page.list}">
            <tr>
              <td><input type="checkbox" th:value="${item.id}" name="todo2" th:id="${item.id}+'_check'"/></td>
              <td th:text="${iterStat.index+1}">1</td>
              <td th:text="${item.account}">Update software</td>
              <td th:text="${item.email}">Update software</td>
              <td th:text="${item.accountKey}">Update software</td>
              <td th:text="${item.remark}">Update software</td>
              <td><a th:href="'/wgcloud/systemInfo/systemInfoList?account='+${item.account}"><span style="font-weight:bold;color:#495057" th:text="${item.hostNum}"></span></a></td>
              <td th:text="${#dates.format(item.createTime,'yyyy-MM-dd HH:mm:ss')}">Update software</td>
              <td>
                <th:block th:if="${session.LOGIN_KEY.role != 'guest'}">
                  <button type="button"  th:onclick="edit([[${item.id}]])"  class="btn bg-gradient-primary  btn-sm">编辑</button>
                  <button type="button"  th:onclick="del([[${item.id}]])"  class="btn bg-gradient-danger btn-sm">删除</button>
                  <button type="button"  th:onclick="editPasswd([[${item.id}]])"  class="btn bg-gradient-primary  btn-sm">修改密码</button>
                  <button type="button" th:onclick="showMoveToAccount([[${item.account}]])" title="将该账号的所有监控资源转移到其他账号" class="btn btn-warning btn-sm" style="margin-right:5px;color:#fff">迁移</button>
                </th:block>
            </tr>
          </th:block>

          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div th:replace="common/page.html"></div>
    </div>
    <!-- /.card -->


  </div><!-- /.col-md-12 -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->


  <div class="modal fade" id="modal-default3">
    <div class="modal-dialog">
      <form method="post" id="form4" th:action="@{'/accountInfo/moveToAccount'}">
        <div class="modal-content" style="font-size:0.90rem">
          <div class="modal-header">
            <h4 class="modal-title">迁移<span class="text-muted">（将该账号的监控资源迁移到其他账号）</span></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>
              <input type="hidden" id="id3" name="ids"/>
              <select style="width:100%;" class="form-control" data-placeholder="请选择"  name="account">
                <option  value="">请选择</option>
                <th:block th:each="item,iterStat : ${accountAllList}">
                  <option  th:value="${item.account}"  th:text="${item.account}">Alabama</option>
                </th:block>
              </select>
            </p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default  btn-sm" data-dismiss="modal">关闭</button>
            <button type="button" onclick="ajaxMoveToAccount()" class="btn btn-primary btn-sm">保存</button>
          </div>
        </div>
      </form>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->

<script th:src="@{'/static/js/accountInfo.js?v=3.4.4'}"></script>

<script th:inline="javascript">
  $(document).ready(function(){

  });
  var msg = [[${msg}]];
  if(msg!='' && msg!=null){
    toastr.info(msg);
  }
</script>

</body>
</html>
