<!DOCTYPE html>
<html>
<head>
  <div  th:replace="common/header.html"></div>


</head>
<body th:class="${application.sidebarCollapse}">
<div th:replace="common/chart.html"></div>

<div class="wrapper">

  <div th:replace="common/navbar.html"></div>

  <div th:replace="common/aside.html"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"  style="font-size:0.90rem">
    <!-- Content Header (Page header) -->
    <section class="content-header" style="height:38px">
      <div class="container-fluid">
        <div class="row mb-2" style="margin-top: -7px;">
          <div class="col-sm-6"></div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="javascript:history.back()">返回上级</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-database nav-icon"></i>&nbsp;数据源信息</h3>
        <div class=" float-sm-right">
          <form class="form-inline ml-3">
            <th:block th:if="${session.LOGIN_KEY.role != 'guest'}">
              <button type="button" onclick="delChecks('/dbInfo/del')"  class="btn bg-danger btn-sm" style="margin-right:5px;">删除</button>
              <button type="button" onclick="add()" class="btn btn-primary btn-sm" style="margin-right:5px;">添加</button>
            </th:block>
            <div th:replace="common/accountSelect.html"></div>
          </form>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th style="width: 20px"> <input type="checkbox" value="" name="checkall" id="checkall"></th>
            <th style="width: 60px">序号</th>
            <th>数据库类型</th>
            <th>数据源别名</th>
            <th>状态</th>
            <th th:if="${application.showWarnCount == 'true'}" title="累积告警次数">告警次数</th>
            <th data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="若已下线，显示最后在线时间，但监控仍在继续">更新时间</th>
            <th th:if="${application.LICENSE_STATE eq '1' && application.userInfoManage == 'true' && session.LOGIN_KEY.role == 'admin'}">账号</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <th:block th:each="item,iterStat : ${page.list}">
            <tr>
              <td><input type="checkbox" th:value="${item.id}" name="todo2" th:id="${item.id}+'_check'"/></td>
              <td th:text="${iterStat.index+1}">1</td>
              <td> <image data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" th:data-content="${item.dbType}+'，'+${item.dbUrl}" th:src="${item.image}"></image></td>

              <th:block th:if="${item.dbState  == '2'}">
                <td><span data-trigger="hover"  data-container="body" data-toggle="popover" data-placement="top" data-content="可能已下线" class="badge bg-danger"  th:text="${item.aliasName}"></span>
              </th:block>
              <th:block th:if="${item.dbState  != '2'}">
                <td><span   th:text="${item.aliasName}"></span>
              </th:block>
              </td>


              <td>
                <th:block th:if="${item.dbState == '2'}">
                  <span class="badge bg-danger">失败</span>
                </th:block>
                <th:block th:if="${item.dbState == '1'}">
                  <span class="badge  bg-primary" >正常</span>
                </th:block>
              </td>
              <td th:if="${application.showWarnCount == 'true'}"><span  style="cursor:pointer;color:#007bff;font-weight:bold" th:onclick="goHrefLogInfo([[${item.warnQueryWd}]])" th:text="${item.warnCount}"></span></td>
              <td th:text="${#dates.format(item.createTime,'yyyy-MM-dd HH:mm:ss')}">Update software</td>
              <th th:text="${item.account}" th:if="${application.LICENSE_STATE eq '1' && application.userInfoManage == 'true' && session.LOGIN_KEY.role == 'admin'}"></th>
              <td>
                <th:block th:if="${session.LOGIN_KEY.role != 'guest'}">
                  <button type="button"  th:onclick="view([[${item.id}]])"  class="btn btn-primary btn-sm">编辑</button>
                  <button type="button"  th:onclick="del([[${item.id}]])"  class="btn bg-gradient-danger btn-sm">删除</button>
                </th:block>
              </td>
            </tr>
          </th:block>

          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
      <div th:replace="common/page.html"></div>
    </div>
    <!-- /.card -->


  </div><!-- /.col-md-12 -->

        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->


  <div th:replace="common/footer.html"></div>

</div>
<!-- ./wrapper -->

<script th:src="@{'/static/js/dbinfo.js?v=3.3.9'}"></script>

<script th:inline="javascript">
  $(document).ready(function(){
    $("#account").val([[${dbInfo.account}]]);
  });

  var msg = [[${msg}]];
  if(msg!='' && msg!=null){
    toastr.info(msg);
  }
</script>

</body>
</html>
